<!DOCTYPE html>
<html lang="en">
  <!-- w3.css import -->
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://www.w3schools.com/lib/w3-theme-dark-grey.css"
  />
  <script src="https://www.w3schools.com/lib/w3.js"></script>

  <div w3-include-html="header.html"></div>
  <div class="w3-cell-row w3-theme-d1" style="height: 100vh">
    <h1>content goes here</h1>
  </div>
  <div w3-include-html="footer.html"></div>
  <script>
    w3.includeHTML();
  </script>
</html>
